#box-size {
    
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 620px;            /* tương tự ảnh */
    max-width: 95%;
    background-color: white;     /* hơi sáng giống ảnh */
    border-radius: 6px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.3);
    z-index: 1000;
    color: #222;
  }
.size table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-top: 40px;
}
.size tr{
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
}
.box-size-note ul {
    padding-left: 20px;
}
#box-size button{
    background-color: #222;
    color: white;
    margin-left: 85%;
    height: 40px;
    width: 60px;
    border-radius: 10px;
}