body{
    background-color:white ;
}

main {
    padding-top: 200px; /* bằng hoặc lớn hơn chiều cao thực tế của header */
    width: 100%;
    height: auto;
    justify-content: center;
}
.top-main{
    width: 81%;
    height: 70px;
    justify-content: center;
    display: flex;
    margin-left: 128px;
    
}
.danhmuc{
    width: 49%;
    height: auto;
    margin-top: 20px;
    font-size: large;
}
.danhmuc a{
    text-decoration: none;
    color:gray;
}
.danhmuc a:hover{
    color: black;
    cursor: pointer;
}
.arrange{
    width: 49%;
    height: auto;
    margin-top: 15px;
    text-align: right;
    font-size: large;
}
#sapxep{
    height: 40px;
    border-radius: 1px;
    font-size: medium;
    border:0px;
}
.arrange span{
    margin-right: 20px;
    
} 
.bot-main{
    width: 81%;
    height: auto;
    display: flex;
    margin-left: 140px;
    
}
.is-divider {
    background-color: rgba(0, 0, 0, .1);
    display: block;
    height: 3px;
    margin: 1em 0;
    max-width: 30px;
    width: 100%;
}  
.left-bot-main{
    width: 21%;
    height: auto;
    margin-top: 50px;
    box-sizing: border-box;
    
}
.danhmucsanpham{
    font-size: large;
    font-weight: 600;
    color: black;
}
.sidebar {
    width: 100%;
    background: #fff;
    padding: 0px;
}

.category {
    border-bottom: 1px solid #eee;
    padding: 6px 0;
    
}

.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    color: #2a4bd7;
}

.category-header .title {
    cursor: default;
    font-size: large ;
}

.arrow_cate {
    font-size: 10px;
    color: #666;
    cursor: pointer;
    transition: transform 0.25s ease;
    
}

  /* Danh sách con ẩn ban đầu */
.category-list {
    display: none;
    list-style: none;
    padding-left: 12px;
    margin-top: 5px;
}

.category-list li {
    padding: 3px 0;
    font-size: 14px;
    color: blue;
    cursor: pointer;
    
}
  /* Khi mở danh mục */
.category.open .category-list {
    display: block;
    border-left: 1px solid #ccc ;
}

.category.open .arrow {
    transform: rotate(180deg);
}
.category a{
    text-decoration: none;
    color: rgb(104, 104, 229);
}
.size-range{
    width: 100%;
    height: auto;
    border-radius: 1px;
    font-size: medium;
    border:0px;
    margin-top: 35px;
}
.size-range select{
    font-size: medium;
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
}
.brand-range{
    width: 100%;
    height: 40px;
    border-radius: 1px;
    font-size: medium;
    border:0px;
    margin-top: 35px;
}
.brand-range select{
    font-size: medium;
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
}
.right-bot-main{
    width: 76%;
    height: auto;
    margin-top: 50px;
    box-sizing: border-box;
    
}
.right-bot-content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    flex-wrap: wrap; 
    gap: 10px;
    margin-left: 20px;
}
.content{
    width: 19%;
    height: 350px;
    background-color: white;
    
    
}
.content-image{
    width: 100%;
    height: 50%;
    
}   
.content-image img{
    width: 100%;
    height: 100%;
}
.content-infor{
    width: 100%;
    height: 20%;
    text-align:left;
    margin-top: 19px;
    box-sizing: border-box;
}
.infor{
    width: 100%; 

}
.price-tag{
    font-size: large;
    color: black;
    height: 15%;    
}
.content-colorway{
    width: 100%;
    box-sizing: border-box;
}
.type{
    font-size: medium;
    color: rgb(104, 104, 229);
    text-decoration: none;

}
.type:hover{
    color: rgb(104, 104, 229);
    cursor: pointer;
}
.content-colorway{
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    display: flex;
}
.icon-pic  {
    width: 18%;
    height: 30px;
    border: 1px solid black;
    margin-right: 5px;
}
.icon-pic img{
    width: 100%;
    height: 30px;
    border: 1px solid black;  
    cursor: pointer;  
}
  
